* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  


 

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }

  h1{
    text-align: left;
    color: lightgoldenrodyellow
  }

  #pets{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 100px;
  }

  


  header {
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    }

  header * {
    display: inline;
    }
    
    header li {
    margin: 20px;
    }
    
    header li a {
    color: white;
    text-decoration: none;
    }